fieldset.ratings {
  display: inline-flex;
  border: 0;
}

fieldset.ratings span.rating {
  padding: 5px;
}

fieldset.ratings span.rating svg.star-icon {
  width: 50px;
}

fieldset.ratings span.rating svg.star-icon:hover,
fieldset.ratings span.rating svg.star-icon.active {
  fill: #ff0;
}